<div class="nav-blocker"></div>

<section class="edit">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<%= form_for ( [ @user , @blog ] ) do |f| %>
					<p><%= f.label :title %></p>
					<p class="title-area"><%= f.text_field :title %></p>
						<hr />
					<p><%= f.label :post %></p>
					<p class="post-area"><%= f.div :post , id: "eg-basic" , class: "text-small" %></p>
					<hr />
					<ul>
						<li><%= f.submit "Submit" , class: "btn"  %></li>
						<li><%= link_to 'Go Home' , user_blogs_path( :id ) , class: "btn" %></li>
					</ul>
				<% end %>
			</div>
		</div>
	</div>
</section>
