<section class="blog-main">
	<div class="container">
		<div class="row">
			<% @blogs.each do |blog| %>
				<div class="col-sm-12">
					<h2 class="text-center"><%= blog.title %></h2>
					<p><%= blog.post %></p>
					<ul>
						<li><%= link_to 'More Info' , blog_path( blog ) , class: "btn" %></li>
						<li><%= link_to 'Edit Blog' , edit_blog_path( blog ) , class: "btn" %></li>
						<li><%= link_to 'Delete Blog' , blog_path( blog ) , method: :delete , data: { confirm: "Are you sure?" } ,class: "btn" %></li>
						<li><%= link_to 'Have an Opinion' , new_blog_comment_path(blog) , class: "btn" %></li>
					</ul>
					<% blog.comments.each do |comment| %>
						<h3 class="text-center"><%= comment.commenter %></h3>
						<p><%= comment.opinion %></p>
						<ul>
							<li><%= link_to 'Edit Comment' , edit_blog_comment_path( blog , comment ) , class: "btn" %></li>
							<li><%= link_to 'Delete Comment' , blog_comment_path( blog , comment ) , method: :delete , data: { confirm: "Are you sure?" } , class: "btn" %></li>
						</ul>
					<% end %>
				</div>
			<% end %>
		</div>
	</div>
</section>
