<div class="nav-blocker"></div>

<section class="show">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h2 class="text-center">
					<%= @blog.title %>
				</h2>
				<p><%= @blog.post %></p>
				<% @blog.comments.each do |comment| %>
					<h3 class="text-center">
						<%= comment.commenter %>
					</h3>
					<p><%= comment.opinion %></p>
					<ul>
						<li><%= link_to 'Edit Comment' , edit_blog_comment_path( @blog , comment ) , class: "btn" %></li>
						<li><%= link_to 'Delete Comment' , blog_comment_path( @blog , comment ) , method: :delete , data: { confirm: "Are you sure?" } , class: "btn" %></li>
					</ul>
				<% end %>
			</div>
		</div>
	</div>
</section>
