<div class="nav-blocker"></div>

<section class="show">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<%= @blog.content.html_safe %>
				<% @blog.comments.each do |comment| %>
					<h3 class="text-center">
						<%= comment.commenter %>
					</h3>
					<p><%= comment.opinion %></p>
					<ul>
						<% if current_user.admin == true %>
							<li><%= link_to 'Edit Comment' , edit_blog_comment_path( @blog , comment ) , class: "btn" %></li>
							<li><%= link_to 'Delete Comment' , blog_comment_path( @blog , comment ) , method: :delete , alert: { confirm: "Are you sure?" } , class: "btn" %></li>
						<% end %>
						<li><%= link_to 'Home Page' , user_path( @user.id ) , class: "btn" %></li>
					</ul>
				<% end %>
			</div>
		</div>
	</div>
</section>
